# The .idea folder files also can be added here if desired
bin/
.classpath
.settings/
.project
out

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.lst

# target
target

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# DS_Store (Mac Spotlight)#
.DS_Store
